<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img id="logo" src="./images/logo-mercado-liebre.svg">
            <div class="bar-search">
                <input id="Buscar" type="search" name="Buscar" placeholder="Buscar productos, marcas y más">
                <button><i class="fas fa-search"></i></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>
        </div>

        <nav class="top-header-navbar">
            
                <ul class="left-navbar">
                    <li><a href="#Ofertas">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            
            
                <ul class="rigth-navbar">
                    <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            
                </ul>
            
        </nav>

        <div class="burger-menu">
            <a href="#" class="burger-bottom"><i class="fas fa-bars"></i></a>
        </div>

    </header>

    <section class="banner">
        <img src="./images/banner.jpeg" alt="Banner" class="banner">
    </section>

    <main>
        <h2> Productos </h2>
        <section>
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article class="items">
                    <img src="./images/cafetera.jpeg" alt="Cafetera">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$6.770</p>
                            <p class="off">40% OFF</p>
                        </div>
                        <p><strong>Cafetera Moulinex</strong></p>
                    </div>
                </article>
        
                <article class="items">
                    <img src="./images/macbook.jpeg" alt="macbook">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$230.000</p>
                            <p class="off">20% OFF</p>
                        </div>
                        <p><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>
        
                <article class="items">
                    <img src="./images/cellphone.jpeg" alt="cellphone">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$70.500</p>
                            <p class="off">10% OFF</p>
                        </div>
                        <p><strong>Samsung Galaxy S10</strong></p>
                    </div>
                </article>
        
                <article class="items">
                    <img src="./images/tv.jpeg" alt="SmartTv">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$23.200</p>
                            <p class="off">5% OFF</p>
                        </div>
                        <p><strong>SmartTv Samsung 43"</strong></p>
                    </div>
                </article>
            </div>
        </section>

        <section id="Ofertas">
            <h3>Ofertas</h3>
            <div class="products">
                <article class="items">
                    <img src="./images/cafetera.jpeg" alt="Cafetera">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$6.770</p>
                            <p class="off">40% OFF</p>
                        </div>
                        <p><strong>Cafetera Moulinex</strong></p>
                    </div>
                </article>
        
                <article class="items">
                    <img src="./images/macbook.jpeg" alt="MacBook">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$230.000</p>
                            <p class="off">20% OFF</p>
                        </div>
                        <p><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>
        
                <article class="items">
                    <img src="./images/cellphone.jpeg" alt="Samsung Galaxy S10">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$70.500</p>
                            <p class="off">10% OFF</p>
                        </div>
                        <p><strong>Samsung Galaxy S10</strong></p>
                    </div>
                </article>
        
                <article class="items">
                    <img src="./images/tv.jpeg" alt="SmartTv">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="info">
                            <p>$23.200</p>
                            <p class="off">5% OFF</p>
                        </div>
                        <p><strong>SmartTv Samsung 43"</strong></p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <section class="secciones">
            <article>
                <i class="fas fa-credit-card"></i>
                <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </section>
        <section class="secciones">
            <article>
                <i class="fas fa-gift"></i>
                <h4><strong>Envío gratis desde $ 2.500</strong></h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>  
        </section>
        <section class="secciones">
            <article>
                <i class="fas fa-user-shield"></i>
                <h4><strong>Seguridad, de principio a fin</strong></h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>    
        </section>
        <section class="Copyright">
            <article>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>

    </footer>
</body>
</html>